@model WebSiteViewModel
@{
    ViewData["Title"] = "Добавление сайта";
}

<h1 class="page-header">@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-12">
        <section>
            <form method="post">
                @Html.EditorFor(x => Model)
            </form>
        </section>
    </div>
</div>